.button-container {
    display: flex;
    justify-content: flex-end;
    background-color: #d4d4d4;
    border-radius: 1rem;
    padding: 2px;
    max-width: 100%;
  }
  
  .button {
    background-color: #d4d4d4;
    color: #a0a0a0;
    border: none;
    padding: 4px 5rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 24px;
    border-radius: 1rem;
  }
  
  .button.active {
    background-color: #fff;
    color: #333;
  }

  
  