.datepicker-container {
    min-width: 3remx; /* Ajusta el ancho según tus necesidades */
    margin: 20px auto;
  }
  
  .header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .month {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: #eee;
    &:hover {
      background-color: #ddd;
    }
  }
  