.app {
  height: 94vh;
  width: 100%;
  overflow:hidden;
}

.header {
  width: 98%;
  height: 8vh;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.main {
  max-width: 99%;
  display: grid;
  height: 100%;
  overflow: hidden;
  z-index: 50;
}

h1 {
  font-size: 3rem;
  border: none;
  height: 2rem;
  display: flex;
  align-items: center;
}

// Agrega reglas para pantallas pequeñas
@media screen and (max-width: 600px) {
  .main {
    grid-template-columns: 1fr; // Cambia a una sola columna en pantallas pequeñas
  }
}
