.app {
  height: 94vh;
  width: 100%;
  overflow:hidden;
}

header {
  width: 98%;
  height: 7vh;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

main {
  max-width: 99%;
  display: grid;
  height: 98%;
  z-index: 50;
}

h1 {
  font-size: 3rem;
  border: none;
  height: 2rem;
  display: flex;
  align-items: center;
}
