@import './sass/index.scss';

.app {
  height: 97vh;
  width: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  width: 98%;
  height: 10%;
  padding: 10px;
  justify-content: space-between;
  z-index: 100;
}

.main {
  width: 100%;
  display: grid;
  height: 90%;
  overflow: hidden;
  z-index: 50;
}

h1 {
  font-size: 3rem;
  border: none;
  height: 1rem;
  display: flex;
  align-items: center;
}


