.button-container {
  display: flex;
  background-color: #d4d4d4;
  border-radius: 1rem;
  padding: 2px;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.button {
  background-color: #d4d4d4;
  color: #a0a0a0;
  border: none;
  padding: 1px 4rem;
  height: 4rem;
  margin: 0;
  font-weight: 700;
  cursor: pointer;
  font-size: 24px;
  border-radius: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.button.active {
  background-color: #fff;
  color: #333;
}

h1 {
  font-size: 3rem;
  border: none;
  height: 1rem;
  display: flex;
  align-items: center;
}

button {
  background-color: #4caf50;
  margin-left: 2rem;
  color: #333;
  font-size: 2rem;
  border: none;
  padding: 0.1rem 2rem;
  height: 3rem;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s;
}
