.day-container {
  display: flex;
  flex-direction: row;
}

.labels {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
}

.day-label {
  margin-bottom: 5px;
}

.cells {
  display: flex;
  flex-direction: row;
}

