.day-container {
  display: flex;
  flex-direction: left;
  align-items: left;
}

.labels {
  display: flex;
  flex-direction: column; /* Cambiado de row a column */
  margin-right: 10px; /* Espaciado opcional entre los días y las celdas */
}

.day-label {
  margin-bottom: 8px; /* Espaciado opcional entre los días */
}

.cells {
  display: flex;
  flex-direction: row;
}

/* Agrega otros estilos según sea necesario */
