$blanco: #ffffff;
$gris: #8a8a8a;
$cafe: #805342;
$cafe-claro: #ffe4c4; 
$negro: #333;
$rosado: #9b59b6;
$rosadoClaro: #eed3fa;
$blanco-azul: #f2f2f2;
$red: #d19494;
$yellow:rgb(233, 255, 31);
$green:#1d7403;
$degradado-negro: 1rem 1rem 1rem rgb(0, 0, 0, 0.2);