@import "../../../sass/variables";
.label {
  color: $negro;

  &__generic {
    font-size: 3rem;
    font-weight: bold;
    margin-right: 1.5rem;
    font-weight: 900;
    height: 3rem;
  }

  &__hour {
    margin-top: 0;
    display: flex;
    grid-column: 13;
  }

  &__title  {
    font-size: 5rem;
  }

  &__day {
    transform: rotate(270deg);
    position: absolute;
    font-weight: 900;
    grid-row: 6;
    grid-column: 1;
  }

  &__hours {
    margin-right: 2.1rem;
    font-size: 1.4rem;
    min-width: 2rem;
  }

  &__days{
    font-size: 1.5rem;
    min-width: 2.8rem;
    margin-top: 0.3rem;
  }
}
