@import "../../../sass/variables";
.label {
  color: $negro; // TODO: ponerlo en variables

  &__generic {
    font-size: 3rem;
    font-weight: bold;
    margin-right: 1.5rem;
    font-weight: 900;
    height: 3rem;
  }

  &__hour {
    margin-top: 0;
    display: flex;
    grid-column: 10;
  }

  &__title  {
    font-size: 5rem;
  }

  &--spin {
    transform: rotate(270deg);
    position: absolute;
    font-weight: 900;
    grid-row: 6;
    grid-column: 1;
  }

  &__hours {
    margin-right: 1rem;
    font-size: 2.2rem;
    min-width: 7rem;
  }

  &__day{
    font-size: 2.2rem;
    min-width: 3rem;
  }
}
