.generic-label {
    font-size: 16px; // Ajusta el tamaño de fuente según tus necesidades
    font-weight: bold; // Ajusta el peso de la fuente según tus necesidades
    color: #333; // Ajusta el color según tus necesidades
    margin-bottom: 8px; // Ajusta el margen inferior según tus necesidades
  }
  