@import "../../../sass/index.scss";
.cell {
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
  min-width: 7rem;

  &.green {
    background-color: $green;
  }

  &.yellow {
    background-color: $yellow;
  }

  &.red {
    background-color: $red;

  }
 &.grey {
  background-color: $gris;
 }
}
