.cell {
  width: 4rem;
  height: 2rem;
  border: 1px groove #000;
  border-radius: 2rem;
  margin-left: 80px;


  &.green {
    background-color: rgba(223,234,186,255);
  }

  &.yellow {
    background-color: rgba(171,209,49,255);
  }

  &.red {
    background-color: rgba(221,220,37,255);
  }
}

