@import "./sass/index.scss";

// header //

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 0;
    background-color: #d4d4d4;
    border-radius: 1rem;
    padding: 2px ;
}

.button {
    background-color: #d4d4d4;
    color: #a0a0a0;
    border: none;
    padding: 4px 5rem;
    font-weight: 700;
    cursor: pointer;
    font-size: 24px;
    border-radius: 1rem;
}

.button.active {
    background-color: #fff;
    color: #333;
}

// main //

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th, .data-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.data-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Añadir números en las celdas de la fila de días */
.data-table tbody tr:first-child th {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}

/* Estilos adicionales, puedes personalizar según tus necesidades */
