.tabla {
  display: grid;
  display: grid;
  grid-template-columns: repeat(19, 1fr);
  grid-template-rows: repeat(11, 1fr);
  height: 100%;
  position: absolute;
  width: 100%;
  height: 87%;
}

.main-table {
  position: relative;
  grid-column: 2 / 19;
  grid-row: 2 / 12;
  overflow: hidden;
}

.hour-table {
  overflow: hidden;
}

.month-table {
  overflow:auto;
}